// COLORS
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #BBBBBB;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 600px;

// THEME
$color-text: $color-black;
$color-background: $color-white;
$color-link: $color-black;
